.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  overflow: hidden;
  /* Adiciona overflow: hidden ao container */
  position: relative;
  /* Garante que os elementos sejam posicionados corretamente */
}

.container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 600px;
}

.divImg {
  width: 500px;
}

.divTitle {
  display: flex;
}

.divTitle img {
  width: 400px;
}

.header h1 {
  font-size: 40px;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .header h1 {
    font-size: 30px;
  }

  .divTitle {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 530px) {
  .container {
    height: 450px;
  }
  .divTitle {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .divImg {
    width: 95%;
  }
  .divImg img {
    height: 200px;
  }
}
